@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.outer-box {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.911);
}

.profile{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 400px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    border: 3px solid whitesmoke;
    border-radius: 30px;
    padding: 30px 40px;
    transform: translateY(10%);
    background: linear-gradient(to bottom, aqua, rgba(0, 128, 53, .7) );
    transition: box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

img {
    width: 250px;
    height: 250px;
    transform: translateY(-5%);
    border-radius: 20px;

}

.about-me h1{
    font-family: fredoka;
    font-size: 50px;
    padding: 20px;
}
.about-me p {
    font-family: "Parkinsans", sans-serif;
    font-size: 20px;
    padding: 2px;
    font-weight: bolder;
}

.profile:hover {
    box-shadow: 10px 10px 25px 0px rgba(255, 255, 255, 0.637);
    transform: scale(1.03) translateY(60px);
}