@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #FF6B6B, #4ECDC4);
}
.intro h1{
    font-family: fredoka;
    font-size: 60px;
    padding: 20px 0px ;
}

.intro p{
    font-family: "Parkinsans", sans-serif;
    font-size: 20px;
}
.inner-box{
    width: 400px;
    position: relative;
    margin: 0 auto;
    top: 40%;
    transform: translateY(-80%);
    padding: 20px 60px;
    border: 3px solid rgba(243, 250, 252, 0.753);
    border-radius: 25px;
    transition: box-shadow 0.3s ease-in-out;

}

.inner-box:hover{
    background:linear-gradient(to top left, #FF6B6B, #4ECDC4);
    box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.6);
    
}

.profile-button{
    margin: 20px 0px;
    width: 100px;
    height: 50px;
}

a {
    display: inline-block;
    font-family: fredoka;
    font-size: 22px;
    width: 150px;
    height: 40px;
    padding: 5px;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    border:3px solid rgba(0, 0, 0, 0.493);
    transition: all 0.3s ease-in-out;
    color: #FF6B6B;
    background-color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: #FF6B6B !important;
    box-shadow: 0px 0px 10px 5px whitesmoke;
}